body {
  display: flex;
  flex-direction: column;
  background-image: url("images/gradient-6170176_1920.jpg");
  font-size: 30px;
  color: #03071e;
  font-family: "Zen Loop", cursive;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 25px;
  background-color: #ddd5d0;
  border-radius: 25px;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: #03071e;
}

a:hover {
  color: #455e89;
}

a:active {
  color: #0091ad;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
  background-image: linear-gradient(#5c4d7d, #2e6f95);
}

li {
  margin: 10px 25px;
}


.school {
  border-radius: 30px;
  background-color: #1780a1;
  padding: 10px 25px;
}

.logo {
  position: absolute;
  right: 50px;
  height: 50px;
  margin: 0 25px;
  margin-top: 10px;
}

.info {
  margin: 50px;
  max-width: 500px;
}

#name {
  font-size: 60px;
  font-family: "Rouge Script", cursive;
}

#study {
  font-size: 50px;
}

.filler {
  background-color: #ddd5d0;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
}
.section-info {
  width: 500px;
  display: flex;
  margin: 50px;
  justify-content: space-evenly;
}

.button {
  border: 0;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  line-height: 2;
  color: #ddd5d0;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(160, 26, 88, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 145, 173, 0.2),
    rgba(46, 111, 149, 0.2) 30%,
    rgb(69, 94, 137)
  );
  box-shadow: inset 2px 2px 3px #63173e, inset -2px -2px 3px black;
  border-radius: 20px;
}

.button:hover {
  background-color: rgba(160, 26, 88, 1);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 133, 161, 0.6);
}

.project-icons {
  width: 128px;
  height: 128px;
  border-radius: 10%;
  margin: 10px;
}

.project-page-icons {
  width: 128px;
  height: 128px;
  border-radius: 10%;
  margin: 10px;
}

#shadow {
  box-shadow: 3px 3px 6px black;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-info {
  margin: 50px;
  max-width: 500px;
}

.hero-image {
  height: 500px;
  width: 500px;
  margin: 50px;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.section-image {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0 auto;
}

.styled-break {
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  margin: 30px 0 30px 0;
  background-color: #63173e;
}

.main-break {
  width: 100%;
  height: 5px;
  border-style: dashed;
  border-radius: 2.5px;
  margin: 30px 0 30px 0;
  background-color: #5c4d7d;
}

@media only screen and (max-width: 500px) {
  .hero-info {
    max-width: 500px;
  }
}
