/** @format */

* {
  box-sizing: border-box;
}
body {
  background-color: #0a0903;
  font-family: "Open Sans Condensed", sans-serif;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.eeva {
  box-shadow: inset 0 0 0 1000px rgba(198, 213, 241, 0.2);
  border-radius: 50%;
}
.hero {
  color: #f5e7ea;
  text-align: center;
  margin-top: 150px;
}
.hero-title {
  font-size: 70px;
}
.hero-subtitle {
  font-size: 30px;
}
.nav-link {
  font-size: 20px;
  text-transform: uppercase;
}
h1 {
  text-transform: uppercase;
  font-size: 50px;
}
p {
  background-color: #e79cab;
  box-shadow: inset 0 0 0 1000px rgba(102, 136, 183, 0.3);
  font-size: 20px;
  border-radius: 30px;
  color: #0a0903;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}
.backdrop {
  background-color: #6688b7;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
}
.footer-icon {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.profile {
  height: auto;
  width: 250px;
  max-width: 100%;
  border-radius: 30px;
}
.progress {
  background-color: #0A0903;
}
.progress-bar {
  color: #0A0903;
  font-size: 12px;
}
#progress-one {
  background-color: #ebadb9;
}
#progress-two {
  background-color: #7795bb;
}
#progress-three {
  background-color: #c6d5f1;
}
#progress-four {
  background-color: #f6dfe3;
}
ul {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  color: #0A0903;
}